@import url(./../../styles/common.css);

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gym_photo {
    width: 600px;
    height: 320px;
    border-radius: 30px;
  }

  .gym_photo-hidden {
    display: none;
  }

  .slider_btn {
    position: absolute;
    top: 290px;
    width: 140px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

    background-color: var(--firstColor);
    border-radius: 9px;
    z-index: +1;
  }

  .slider_btn span {
    height: 43.5px;
    width: 3px;
    border-radius: 2px;
    background-color: var(--secondColor);
  }

  .arrow {
    font-size: 40px;
    color: var(--secondColor);
    cursor: pointer;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  @media (max-width: 420px) {
    .gym_photo {
        height: 200px;
        border-radius: 0;
    }

    .slider_btn {
        top: 170px;
    }
  }