@import url(./../../styles/common.css);

.chain {
    width: 100%;
    overflow: hidden;
    background: var(--secondColor);
  }
  
  .chain_content {
    display: flex;
    color: var(--firstColor);
    font-family: "cyrivendell";
    font-size: 50px;
    white-space: nowrap;
    gap: 10px;
    animation: padding linear 15s;
  }

  .gradient-text {
    background: linear-gradient(to right, var(--thirdColor), var(--firstColor));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
  }

  @media (max-width: 420px) {
    .chain_content {
      font-size: 20px;
    }
  }