:root {
    --swiper-navigation-size: none !important;
    --swiper-theme-color: none !important;
}

.swiper-slide {
    width: 300px;
}

.swiper-wrapper {
    max-width: 1045px;
}

.swiper-button-next {
    position: static !important;
    align-items: center;
}

.swiper-button-prev {
    position: static !important;
}

.slider_card_desktop {
    padding-bottom: 36px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .arrow_card_left_desktop {
    padding-left: 110px;
    padding-right: 20px;
    font-size: 50px;
    color: var(--firstColor);
    cursor: pointer;
  }

  .arrow_card_right_desktop {
    padding-left: 20px;
    padding-right: 110px;
    font-size: 50px;
    color: var(--firstColor);
    cursor: pointer;
  }

  .arrow_card:hover {
    color: var(--thirdColor);
  }

  @media (max-width: 421px) {
    .slider_card_desktop {
      display: none;
    }
  }