@import url(./../../styles/common.css);

.about_us {
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--secondColor);

}



.headline {
    width: 426px;
    font-family: "miligram-bold";
    font-size: 30px;
    color: var(--firstColor);
}

.description {
    padding-top: 31px;
    max-width: 449px;
    color: var(--firstColor);
    font-family: "miligram-medium";
    font-size: 18px;
}

.slider {
    padding-right: 189px;
}

@media (max-width: 420px) {
    .about_us {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 50px;
        flex-direction: column;
    }

    .about_us_content {
        flex-direction: column;
        row-gap: 20px;
        padding-top: 129px;
        padding-bottom: 26px;
    }
    
    .text {
        padding-top: 0;
    }

    .headline {
        font-size: 20px;
        width: 285px;
    }

    .description {
        font-size: 15px;
        width: 290px;
    }
    
    .slider {
        padding-bottom: 40px;
        padding-right: 0px;
    }
}