@import url(./../../styles/common.css);


.promo {
    position: relative;
    height: 600px;
    background-color: var(--firstColor);
}

.promo_content {
    padding-top: 215px;
    padding-left: 36px;
}

.promo_text {
    font-family: "miligram-extrabold";
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #FFF;
    width: 531px;

}

.second_bar {
    margin: 120px auto 0px;
    width: 800px;
    height: 150px;
    background-color: var(--thirdColor);
    border-radius: 30px;
    
}

.second_bar_content {
    display: flex;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
}

.second_bar_content span {
    width: 2px;
    height: 100px;
    background-color: var(--firstColor);
}

.second_bar_content a {
    font-family: "cyrivendell";
    color: var(--firstColor);
    font-size: 30px;
    text-decoration: none;
}

@media (max-width: 849px) {

    .promo_content {
        padding-left: 0;
        margin-left: -8px;
        padding-top: 400px;
    }

    .promo_text {
        color: #FFF;
        font-family: "miligram-extrabold";
        font-size: 33px;
        width: 250px;
        left: 0;
    }

    .second_bar {
        margin: 40px auto 0px;
        width: 250px;
        height: 150px;
        background-color: var(--thirdColor);
        border-radius: 30px;
        
    }

    .second_bar_content {
        flex-direction: column;
        row-gap: 18px;
    }

    .second_bar_content a {
        font-size: 20px;
    }

    .second_bar_content span {
        height: 2px;
        width: 125px;
        background-color: var(--firstColor);
    }

}