@font-face {
    font-family: "cyrivendell";
    src: url(./fonts/cyrivendell_web/Cyrivendell.woff),
         url(./fonts/cyrivendell_web/Cyrivendell.woff2);
}

@font-face {
    font-family: "suprecot";
    src: url(./fonts/suprecot_web/Suprecot-Regular.woff),
         url(./fonts/suprecot_web/Suprecot-Regular.woff2);
}

@font-face {
    font-family: "miligram-light";
    src: url(./fonts/miligram_web/milligram-light-trial-webfont.woff),
         url(./fonts/miligram_web/milligram-light-trial-webfont.woff2);
}

@font-face {
    font-family: "miligram-medium";
    src: url(./fonts/miligram_web/milligram-medium-trial-webfont.woff),
         url(./fonts/miligram_web/milligram-medium-trial-webfont.woff2);
}

@font-face {
    font-family: "miligram-extrabold";
    src: url(./fonts/miligram_web/milligram-extrabold-trial-webfont.woff),
         url(./fonts/miligram_web/milligram-extrabold-trial-webfont.woff2);
}

@font-face {
    font-family: "miligram-bold";
    src: url(./fonts/miligram_web/milligram-bold-trial-webfont.woff),
         url(./fonts/miligram_web/milligram-bold-trial-webfont.woff2);
}

@font-face {
    font-family: "miligram-regular";
    src: url(./fonts/miligram_web/milligram-regular-trial-webfont.woff),
         url(./fonts/miligram_web/milligram-regular-trial-webfont.woff2);
}

@font-face {
    font-family: "inter-regular";
    src: url(./fonts/inter_web/Inter-Regular.woff),
         url(./fonts/inter_web/Inter-Regular.woff2);
}

@font-face {
    font-family: "inter-light";
    src: url(./fonts/inter_web/Inter-Light.woff),
         url(./fonts/inter_web/Inter-Light.woff2);
}

@font-face {
    font-family: "inter-bold";
    src: url(./fonts/inter_web/Inter-Bold.woff),
         url(./fonts/inter_web/Inter-Bold.woff2);
}

:root {
    --firstColor: #231F20;
    --secondColor: #B2B1B2;
    --thirdColor: #ED1C24;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 30px;
}

@media (max-width: 420px) {
    .container {
        margin: 0;
        padding: 0 23px;
    }
}