@font-face {
    font-family: 'Cyrivendell';
    src: url('Cyrivendell.woff2') format('woff2'),
        url('Cyrivendell.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cyrivendell';
    src: url('Cyrivendell.woff2') format('woff2'),
        url('Cyrivendell.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

