@import url(./../../styles/common.css);

.about_us {
    height: 600px;
    background-color: var(--secondColor);
    z-index: -1;
}

.about_us_content {
    display: flex;
    padding-top: 158px;
    justify-content: space-between;

}

.text {
    padding-top: 33px;
}

.headline {
    width: 426px;
    font-family: "miligram-bold";
    font-size: 30px;
    color: var(--firstColor);
}

.description {
    padding-top: 31px;
    width: 449px;
    color: var(--firstColor);
    font-family: "miligram-medium";
    font-size: 18px;
}

@media (max-width: 420px) {
    .about_us {
        height: 620px;
    }

    .about_us_content {
        margin-right: 0px;
        margin-left: 0px;
        flex-direction: column;
        row-gap: 20px;
        padding-top: 139px;
        padding-left: 0;
    }
    
    .text {
        padding-top: 0;
    }

    .headline {
        font-size: 20px;
        width: 285px;
    }

    .description {
        font-size: 15px;
        width: 290px;
    }
    
    .slider {
        padding-bottom: 40px;
    }
}