@font-face {
    font-family: 'Suprecot';
    src: url('Suprecot-Regular.woff2') format('woff2'),
        url('Suprecot-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

